# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

# Prettier takes its indentation from this file.
[*.{ts,js,mjs,cjs,svelte,css,html}]
indent_size = 2

[*.{json,yaml,yml,toml}]
indent_size = 2

[*.{md}]
indent_size = 2

[*.nix]
indent_size = 2
